body::-webkit-scrollbar {
  display: none;
}
body{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.page-footer{
  background-color: #212529;
  color: white;
}
.logo{
  max-width: 80%;
}
.btn{
  float: right;
  transform: scale(1.01);
  margin-top: -18.5%;
}
.navbar{
  color: white;
}
.profile{
  height: auto;
  max-width: 5%;
  margin-top: 0%;
}
.playerContainer{
  width: 21.8%;
  margin: auto;
}
.viewStats{
  margin: auto;
  margin-left: 85%;
  margin-bottom: 10%;
}
.tournaments{
  margin: auto;
  margin-left: 85%;
  margin-bottom: 10%;
}
.forgotPasswordContainer{
  height: 35em;
}
#collasible-nav-dropdown{
  color: white;
}
.loginImg{
  float: right;
}
.loginBtn{
  margin: auto;
}
.formContainer{
  max-width: 50%;
  margin: auto;
}
.forgotPasswordContainer{
  max-width: 50%;
  margin:auto;
}
.forgotBtn{
  margin: auto;
}
.loginContainer{
  margin-top: 5%;
  height: 31em;
}
.header{
  grid-column: 1/5;
  max-width: 100%;
}
.bg{
  margin-top: -15%;
  max-width: 105%;
  margin-left: -2.8%;
  z-index: -1;
}
.bg-text{
  font-size: 1vw;
  max-width: 100%;
}
.welcome{
  color: white;
  margin-top: -25%;
  font-size: 5em;
  text-align: center;
}
.intro{
  color: white;
  text-align: center;
  font-size: 1.3em;
}
.upcoming{
  grid-column: 1/5;
  grid-row: 15;
  margin-top: 10%;
  margin-bottom: 5%;
  max-width: 100%;
}
.upcoming li{
  float: left;
  margin-right: 1%;
  margin-bottom: 1%;
  list-style-type:none;
}
.homeContainer{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px 5%;
  grid-template-rows: minmax(100px, auto);
}
.resize{
  max-width: 5%;
  margin-left: 2%;
  margin-top: 1%;
  color: white;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}
.socials li{
  list-style-type:none;
}
.moreTournies{
  margin-top: 150%;
}
.editBtn, .updateBtn{
  background-color: #0d6efd;
  border-color: #0d6efd;
  color: white;
  margin-top: 1%;
  margin-right: 1%;
}
.profileImg{
  max-width: 20%;
  border-radius: 100%;
}
.profilePic{
  margin-left: 40%;
}
.uploadBtn{
  margin-left: 3%;
}
@media (max-width: 991px){
  .btn{
    margin-top: -8.5%;
  }
  .profile{
    display: none;
  }
}